.App {
  text-align: center;
}

body{
  background: rgb(248, 248, 248);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wholepage{
  height: 100vh;
  background: rgb(248, 248, 248);
}

.navbar{
  display: flex;
  align-items: center;
  width: 100%
}
.navbar2{
  background-color: rgb(94, 94, 248);
  align-items: center;
  justify-content: center;
}

.img{
  margin: 10px;
  margin-left: 20px;
  border-radius: 100%;
  cursor: pointer;
}

.contents{
display: flex;
justify-content: center;
margin: 20px;
}

.reg{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns{
  border-radius: 0% !important;
  transition: 0.5s !important;
}
.btns:hover{
  background-color: white !important;
  color: rgb(94, 94, 248) !important;
}

.type2{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quizes:hover{
  background-color: rgb(230, 230, 230);
}

.mid{
  display: flex;
  justify-content: center;
}